/* general*/

html,body {
	font-family: raleway;
	margin: 0px;
}
main,header {
	width: 95%;
	margin: 0px auto;
}
img {
  max-width: 100%;
  box-sizing: border-box;
}
.centre {
 	display: flex;
 	justify-content: center;
 	align-items: center;
}
.flexAround {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.centreColonne {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
}
.flexColonneAround {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.flexColonneBetween {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.bordureNone {
	border: none;
}

/* header et nav */

 .desktopNone {
 	display: none;
 }
.decorationLienNavNone {
	text-decoration: none;
}
.taillenavigation {
	height: auto;
}
.tailleLiens {
	width: 100%;
}
.tailleLiens12 {
	margin-left: 60%;
}
.tailleLien {
	width: 140px;
	height: 99px;
}
.colorLien2 {
   color: black ;
}
.couleurBleu {
	color: #0065FC;
}
.couleurGris {
	color: #F2F2F2;
}
.backBleu {
	background-color: #0065FC;
}
.backGris {
	background-color: #F2F2F2;
}
.backBlanc {
	width: 30%;
	height: auto;
	background-color: white;
	padding: 0.5%;
	border-radius: 20px;
}
.backBlanc:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.backBlanc2 {
	background-color: white;
	height: auto;
	padding: 1% 0 1% 1%;
	border-radius: 20px;
}
.backBlanc2:hover {
	cursor: pointer;
	transform: scale(1.05);
}
.bordure1 {
	border-top: 1px solid transparent;
}
.bordure1:hover {
	border-top: 1px solid #0065fc;
	cursor: pointer;
}
.bordure1:hover > a {
	color: #0065fc;
}
.marglogo {
	margin-bottom: 10px;
}
.bordureSearch {
	width: 400px;
	border-radius: 10px;
	border: 0.5px solid #F2F2F2;

	}
.espaceRecherche {
	padding-left: 20px;
}
.boutonRecherche {
	height: 50px;
	width: 150px;
	color: white;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
}
.recherche {
	height: 45px;
	width: 230px;
	font-size: 18px;
	color: black;
	font-weight: bold;
} 
.iconTaille {
	height: 50px;
	width: 50px;
	border-radius: 10px 0 0 10px;
}
.FiltreGras {
	font-weight: bold;
}
.Filtres { 
	display: flex;	
}
.margeFiltre {
	margin-top: 50px;
	margin-bottom: 50px;
}
.margeFiltresTitre {
	margin-right: 20px;
}

.boutonI {
	width: 20px;
	height: 20px;
	color: #0065fc;
	border: 2px solid #F2F2F2;
	border-radius: 25px;
	margin-right: 10px;
}
.info {
	display: flex;
	align-items: center;
}
.filtreTexteIcon {
	border: 2px solid #F2F2F2;
	height: 50px;
	border-radius: 30px;
	margin-right: 20px;
}
.filtreTexteIcon:hover > .filtreTexte {
	color: #0065fc;

}
.filtreTexteIcon:hover > .filtreIcon {
	color: white;
	background-color: #0065fc;
}
.filtreTexte {
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0 25px 25px 0;
}
.filtreIcon {
	margin-left:-2px;
	border-radius: 25px;
	width: 52px;
	height: 52px;
	color: #0065fc;
	background-color: #deebff;
}
.Bold {
	font-weight: bold;
}
.tailleHebergements {
	flex: 2;
	height: 650px;
	margin-right: 20px;
	border-radius: 10px;
}
.hauteurPopulaire {
	height: 88%;
}
.taillePopulaires {
	flex: 1;
	height: 650px;
	margin-left: 20px;
	border-radius: 10px;
}
.blocHebergements {
	padding-left: 20px;
	padding-right: 20px;
}
.blocPopulaires {
	padding-right: 20px;
	padding-bottom: 20px;
}
.blocPopulaires12 {
	margin-bottom: 20px;
}
.bloc1 {
	margin-bottom: 10px;
}
.bloc2 {
	margin-top: 10px;
}
.cubeBackBlanc {
	width: 90%;
}
.cubeBackBlanc2 {
	width: 60%;
	padding-left: 5%;
}
/* Image */
.tailleLogo {
	width: 110px;
	height: 40px;
}
.imgHebergements {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}
.imgPopulaires {
	background-size: cover;
	background-position: center;
	width: 35%;
	height: 160px;
	border-radius: 15px 0 0 15px;
	object-fit: cover;
}
.imgActivites {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 530px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}
.imgActivites2 {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 250px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}
.imgActivites3 {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 150px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}
.imgActivites56 {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}
/* Activites*/
.activites {
	margin-top: 50px;
	margin-bottom: 50px;
}
.blocActivites {
	width: 100%;
	height: 600px;
}
.blocActivites2356 {
	width: 23%;
	height: 600px;
}
.cubeActivites {
	width: 22%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites:hover {
	cursor: pointer;
	transform: scale(1.05);
}
.cubeActivites2356 {
	width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites2356:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.hauteurTitre {
	height: 70px;
}
.titreActivites {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 5%;
	width: 95%;
}
/*Footer*/
.footer {
	height: 300px;
	margin-top: 100px;
	padding-top: 100px;
}
.TailleBlocFooter {
	height: 150px;
}
.margeBlocFooter1 {
	margin-left: 5%;
}
.margeBlocFooter2 {
	margin-right: 15%;
}
.hauteurLienFooter {
	height: 30px;
}
.flexBetweenFooter {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
/* responsive*/
@media screen and (max-width: 1110px) {
 .tailleLiens12 {
 	margin-left: 35%;
 }
 .cubeBackBlanc {
 	min-height: 150px;
 }
 .tailleHebergements {
 	min-height: auto;
 	padding: 20px;
 }
 .taillePopulaires {
 	min-height: auto;
 	padding: 20px;
 }
 .tabletteTitrePopulaire{
 	 margin-top: 0px;
 }
}
@media screen and (max-width: 984px) {
.tabletteFiltreColonne {
	flex-direction: column;
	align-items: flex-start;
}
.filtreTexteIcon {
 margin-bottom: 20px;
}
#Hebergements {
	flex-direction: column-reverse;
	width: 100%;
}
.taillePopulaires {
	flex: none;
	width: 90%;
	margin-left: 0;
	padding: 5%;
}
.tailleHebergements {
	flex: none;
	width: 90%;
	margin-right: 0;
	margin-top: 50px;
	padding: 5%;
}
}
@media screen and (max-width: 770px) {
 .tailleLiens {
 	 width: 90%;
 }
 .tailleLiens12 {
 	margin-left: 20%;
 }
 .blocHebergements {
 	height: auto;
 }
 .bloc1{
 flex-direction: column;
 margin-bottom: 0;
 }
 .bloc2{
flex-direction: column;
margin-top: 0;
 }
 .backBlanc {
 	width: 100%;
 	margin-bottom: 50px;
 }
 .cubeBackBlanc {
  min-height: auto;
 }
 .blocActivites {
 	flex-direction: column;
 	height: auto;
 }
 .cubeActivites {
 	width: 100%;
 	margin-bottom: 50px;
 }
 .blocActivites2356 {
 	width: 100%; 
 	height: auto;
 }
 .cubeActivites2356 {
 	margin-bottom: 50px;
 }
 .imgActivites,
 .imgActivites2,
 .imgActivites3,
 .imgActivites56 {
 	height: 200px;
 }
 .footer {
 	flex-direction: column;
 	height: auto;
 	align-items: flex-start;
 	padding-left: 20px;
 }
 .margeBlocFooter1 {
 	margin-left: 0;
 }

	.tailleLien {
		flex-direction: row;
	}
 	.tailleLiens12 {
 		order: 1;
 		width: 100%;
 		margin-left: 0;
 	}
 	.tailleLienMobile {
 		width: 50%;
 		border-top: 0;
 		border-bottom: 5px solid #F2F2F2;
 	}
 	.tailleLiens {
 		width: 100%;
 		flex-direction: row;
 		flex-wrap: wrap;
 	}
 	.tailleLienMobile:hover {
 		border-top: 0;
 		border-bottom: 3px solid #0065fc;
 }
 .bordureSearch {
 	width: auto;
 	border: none;
 }
 .recherche {
 	width: 200px;
 	border-bottom:1px solid #F2F2F2;
 	border-top:1px solid #F2F2F2;
 }
 .boutonRecherche {
 	width: 50px;
 	border-radius: 15px ;
 }
 .desktopNone {
 	display: block;
 }
 .mobileNone {
 	display: none;
 }
 .backBlanc {
 	margin-bottom: 5%;
 }

 .backBlanc2 {
 	margin-bottom: 5%;
 }
 }