/* general*/

html,body {
	font-family: raleway;
}
.centre {
 	display: flex;
 	justify-content: center;
 	align-items: center;
}
.flexAround {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bordureNone {
	border: none;
}

/* header et nav */

.decorationLienNavNone {
	text-decoration: none;
}
.taillenavigation {
	height: 100px;
}
.tailleLiens {
	width: 45%;
}
.tailleLien {
	width: 140px;
	height: 99px;
}
.colorLien2 {
   color: black ;
}
.couleurBleu {
	color: #0065FC;
}
.couleurGris {
	color: #F2F2F2;
}
.backBleu {
	background-color: #0065FC;
}
.backGris {
	background-color: #F2F2F2;
}
.bordure1 {
	border-top: 1px solid #0065FC;
}
.bordure23 {
	border-top: 1px solid transparent;
}
.marglogo {
	margin-bottom: 10px;
}
.bordureSearch {
	width: 400px;
	border-radius: 10px;
	border: 0.5px solid #F2F2F2;
	 ;
	}
.espaceRecherche {
	padding-left: 20px;
}
.boutonRecherche {
	height: 50px;
	width: 120px;
	color: white;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
}
.recherche {
	height: 30px;
	width: 230px;
	font-size: 18px;
	color: black;
	font-weight: bold;
} 
.iconTaille {
	height: 50px;
	width: 50px;
	border-radius: 10px 0 0 10px;
}